<section>
    <h4 style="text-align: center;">Tables Work</h4>

    <div>
        <mat-form-field floatLabel="never" style="width:24em;margin-right:12px;">
            <mat-icon matPrefix>Search</mat-icon>
            <mat-icon matSuffix *ngIf="searchRef.length" (click)="resetFilters('search')">cancel</mat-icon>
            <input matInput placeholder="Search" [(ngModel)]='searchRef'
                (keyup)="applySearchFilter($event)">            
        </mat-form-field>

        <mat-form-field floatLabel="'fill'" style="width:8em;margin-right:4px;">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]='statusFilterRef' (selectionChange)="onSelectionChange('status', $event)">
                <mat-option [value]="0" selected>--None--</mat-option>
                <mat-option *ngFor="let opt of ticketMeta?.status" [value]="opt.id">{{opt.label}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always" style="width:10em;margin-right:4px;">
            <mat-label>Priority</mat-label>
            <mat-select [(ngModel)]='priorityFilterRef' (selectionChange)="onSelectionChange('priorityId', $event)">
                <mat-option [value]="0" selected>--None--</mat-option>
                <mat-option *ngFor="let opt of ticketMeta?.priority" [value]="opt.priority_id">{{opt.priority_desc}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="'never'" style="width:10em;">
            <mat-select [(ngModel)]='categoryFilterRef' (selectionChange)="onSelectionChange('categoryId', $event)">
                <mat-option [value]="0" selected>--Noine--</mat-option>
                <mat-option *ngFor="let opt of ticketMeta?.allCategories" [value]="opt.ticket_cat_id">{{opt.ticket_cat_detail}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button type="button" style="background-color:navy;color:white;" (click)="resetFilters(null)">
            Clear Filters
        </button>

        <mat-checkbox style="margin-left:1em;" [(ngModel)]="assignedToMe" (change)="assignedToMeFilter($event)">Assigned To Me</mat-checkbox>
        <div>[{{searchRef}}] || [{{assignedToMe}}]</div>
    </div>

    <mat-table class="tickets-table mat-elevation-z8" [dataSource]="ticketList">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let ticket">{{ticket.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="assignee">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let ticket">
                {{ticket.assignee_full_name}}                
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="from">
            <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
            <mat-cell *matCellDef="let ticket">
                <div>
                    {{ticket.fullName}}
                    <ul class="ticket-info-bar">
                        <li title="Comments">3</li>
                        <li title="Has Attachment(s)">F</li>
                        <li title="Is Assigned">A</li>
                    </ul>
                </div>
                <div>
                    {{ticket.ticket_status}}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
            <mat-cell *matCellDef="let ticket">
                {{ticket.subject}}
                {{ticket.ticket_category}}
                <span style="text-align: 1rem;">{{ticket.ticket_product}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>
            <mat-cell *matCellDef="let ticket">
                {{ticket.dateCreated | date: 'E M/d/y h:mm a'}}<br />
            </mat-cell>
        </ng-container>

        <mat-row 
            *matRowDef="let row; columns: displayedColumns"
            (click)="onRowSelect(row)">
        </mat-row>
    </mat-table>

</section>
