mat-card:hover {
    background: lightyellow;
}
mat-card-header {
    justify-content: center;
}
mat-card-content ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}
mat-card-actions {
    border-top: 1px solid darkgray;
}
.wrapper {
    display: grid;
    gap: 8px;
    grid-auto-rows: minmax(100px, auto);
    /* grid-auto-columns: 400px; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.Completed {
    background: green;
    color:white;
    
}
.Error {
    background: red;
    color:white;
}