<header>[{{isLoggedIn$ | async}}] == [{{isLoggedIn}}]</header>

<div *ngIf="isLoggedIn$ | async">
  <ng-container *ngTemplateOutlet="template">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="(isHandset$ | async) === false">
        <mat-toolbar><span title="Toggle Sidemenu" (click)="drawer.toggle()">Menu</span></mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="tables">Tables</a>
          <a mat-list-item href="#" routerLink="cards">Cards</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button
            type="button"
            title="Toggle Menu"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{appTitle}}</span>
        </mat-toolbar>
        
        <section  style='border:1px solid red'>
          <p>Content Goes Here</p>
        </section>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>

<div *ngIf="!isLoggedIn$ | async">
  <ng-container *ngTemplateOutlet="template">
    <h4>What?!?!?</h4>    
  </ng-container>
</div>

<ng-template #template>
  <router-outlet>Stuff Goes In Here</router-outlet>
</ng-template>